<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<menuitem
        id="menu_root_product"
        name="Product &amp; Pricelist"
        web_icon="ssi_product,static/description/icon.png"
    />

<menuitem
        id="menu_pricelist_root"
        name="Pricelist"
        parent="menu_root_product"
        sequence="3"
    />

<menuitem
        id="menu_product_report"
        name="Report"
        parent="menu_root_product"
        sequence="98"
    />

<menuitem
        id="menu_product_configuration"
        name="Configuration"
        parent="menu_root_product"
        sequence="99"
    />

<menuitem
        id="menu_uom_root"
        name="Unit of Measure"
        parent="menu_product_configuration"
        sequence="1"
    />
<menuitem
        id="menu_category_root"
        name="Product Categories &amp; Attributes"
        parent="menu_product_configuration"
        sequence="2"
    />
<menuitem
        id="menu_pricelist_configuration_root"
        name="Pricelist"
        parent="menu_product_configuration"
        sequence="3"
    />
</odoo>
