<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<record id="stock.menu_product_variant_config_stock" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.product_product_menu" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.menu_product_category_config_stock" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.menu_attribute_action" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.menu_product_packagings" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.menu_stock_uom_categ_form_action" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>

<record id="stock.menu_stock_uom_form_action" model="ir.ui.menu">
  <field
            name="groups_id"
            eval="[(6, 0, [ref('ssi_product.original_product_group')])]"
        />
</record>
</odoo>
